@use '../../breakpoints.scss' as *;
@use '../../animations.scss' as *;

.wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.projectContent {
    padding: 0px 60px;
    padding-bottom: 100px;
    position: absolute;
    top: 0;

    @include sm {
        padding: 0px 30px;
        padding-bottom: 60px;
    }
}

.project__info {
    overflow-y: scroll;
    position: absolute;
    top: 100px;
    right: 50%;
    width: 0%;
    height: 80vh;
    background-color: white;
    color: black;
    transform: translate(50%, 0px);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    z-index: 30;
    padding: 0px 0px;
    border-radius: 13px 13px 0px 0px;
    &::-webkit-scrollbar {
        display: none;
    }
    img, video {
        width: 100%;
        height: auto;
    }

    @include sm {
        width: 95%;
    }

}

.project__info__hide {
    overflow-y: scroll;
    position: absolute;
    top: 100px;
    right: 50%;
    height: 80vh;
    margin: 0 auto;
    height: 80vh;
    animation: hide 1s normal forwards ease-in-out;
    transform: translate(50%, 0px);
    background-color: white;
    color: black;
    opacity: 0;
    z-index: 30;
    padding: 0px 0px;
    border-radius: 13px 13px 0px 0px;
    &::-webkit-scrollbar {
        display: none;
    }
    img, video {
        width: 100%;
        height: auto;
    }

    @include sm {
        width: 95%;
        animation: hideMobile 1s normal forwards ease-in-out;
    }
}

.project__info__show {
    overflow-y: scroll;
    position: absolute;
    top: 100px;
    right: 50%;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    animation: show 1s normal forwards ease-in-out;
    transform: translate(50%, 0px);
    background-color: white;
    color: black;
    opacity: 0;
    z-index: 30;
    border-radius: 13px 13px 0px 0px;
    img, video {
        width: 100%;
        height: auto;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    @include sm {
        width: 95%;
        animation: showMobile 1s normal forwards ease-in-out;
    }
}

.projectTitle {
    font-size: 80px;
    position: sticky;
    top: 10px;
    mix-blend-mode: difference;
    color: white;
    margin-bottom: 50px;
    @include sm {
        margin-bottom: 30px;
        font-size: 30px;
    }
}

.projectDescription {
    font-size: 20px;
    margin-bottom: 50px;
    width: 80%;
    @include sm {
        width: 100%;
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.projectCredits {
    font-size: 25px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include sm {
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
    }
}

.projectImages {
    width: 100%;
    margin-bottom: 30px;
}

.projectLink {
    font-size: 50px;
    display: flex;
    a {
        &:hover {
            animation: tilt-n-move-shaking 0.15s infinite;
        }
    }
    @include sm {
        font-size: 30px;
    }
}

.close {
    width: fit-content;
    font-size: 50px;
    position: sticky;
    top: 10px;
    left: 0px;
    cursor: pointer;
    z-index: 10;

    @include sm {
        font-size: 30px;
    }
}

@keyframes show {
    from {
        width: 0%;
        padding: 0px 0px;
        opacity: 0;
    }
    to {
        width: 100wh;
        padding: 10px 40px;
        opacity: 1;
    }
}

@keyframes hide {
    from {
        width: 100%;
        padding: 10px 40px;
        opacity: 1;
    }
    to {
        width: 0%;
        padding: 0px 0px;
        opacity: 0;
    }
}

@keyframes showMobile {
    from {
        height: 0px;
        padding: 0px 10px;
    }
    to {
        height: 90vh;
        padding: 0px 10px;
    }
}

@keyframes hideMobile {
    from {
        height: 90vh;
        padding: 0px 10px;
    }
    to {
        height: 0px;
        padding: 0px 10px;
    }
}