@use '../../animations.scss' as *;
@use '../../breakpoints.scss' as *;

.header {
    font-family: FugueMono;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    z-index: 10;
    color: black;
    font-size: 25px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 32px;

    li {
        display: flex;
        a {
            &:hover {
                animation: tilt-n-move-shaking 0.15s infinite;
            }
        }
    }
}

.title {
    // text-transform: uppercase;
    cursor: pointer;
    color: black;
    font-size: 45px;

    @include sm {
        font-size: 30px;
    }
}